{include file="common/sidenav" /}
<style type="text/css">
  .btn-default{
    margin-top: -20px;
  }
</style>
<!-- 内容区域 -->
<div class="tpl-content-wrapper">
  <div class="container-fluid am-cf">
    <div class="row">
      <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
        <p class="page-header-description"></p>
      </div>
    </div> 
  </div>
  <div class="row-content am-cf">
    <div class="row am-cf">
      <div class="am-u-sm-12 am-u-md-10">
        <div class="widget am-cf">
          <div class="widget-head am-fr">
            <div class="widget-title am-fl">商品监控中心</div>
            <div class="widget-function am-fr">
              <button type="button" class="am-btn am-btn-success" {if $is_add} data-am-modal="{target:'#addjk',closeViaDimmer:0,width:600,height:260}" {else/} data-am-modal="{target:'#addnotice',closeViaDimmer:0,width:400,height:260}" {/if} ><span class="am-icon-plus"></span> 添加监控</button>
            </div>
          </div>
          <table id="table" class="am-table-hover" width="100%"></table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="am-modal am-modal-no-btn" tabindex="-1" id="addjk">
  <div class="am-modal-dialog">
    <div class="am-modal-hd">添加竞品监控
      <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
    </div>
    <div class="dialog-body am-fr">
      <div class="am-form-group cgroup am-fl">
        <label class="am-u-sm-2 am-form-label" >链接:</label>
        <div class="am-u-sm-10">
          <input type="text" id="jpurl"  class="am-tagsinput" placeholder="输入商品链接或者商品SKU">
        </div>
      </div>
      <div class="am-form-group cgroup am-fl">
        <label class="am-u-sm-2 am-form-label" >备注:</label>
        <div class="am-u-sm-10">
          <input type="text" id="jptip"  class="am-tagsinput" placeholder="监控备注,方便管理识别是哪个商品">
        </div>
      </div>
      <div class="am-form-group digok am-fl">
        <label class="am-u-sm-2 am-form-label" ></label>
        <div class="am-u-sm-10">
          <button type="button" class="am-btn am-btn-primary am-radius" id="addjpbtn" onclick="addjpbtn()">提交
          </button>&nbsp;
          <button type="button" class="am-btn am-btn-default am-radius" data-am-modal-close>取消</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="am-modal am-modal-no-btn" tabindex="-1" id="addnotice">
  <div class="am-modal-dialog">
    <div class="am-modal-hd">您是<font color="red">{$level_name}</font>
      <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
    </div>
    <div class="am-modal-bd">
      您最多能添加{$limit_contender}个竞品,现在已经添加了{$exists_contender}个竞品。
    </div>
    {if $level==2}
    <div class="am-modal-bd">
      如果想要拥有跟多权限，请充值成为<a href="#">VIP会员</a>。
    </div>
    {/if}
    {if isset($is_expire_time)}
      您的{$level_name}已经过期,请去<a href="#">续费会员</a>。
    {/if}
  </div>
</div>


