{include file="common/sidenav" /}
<!--邀请列表表单-->
<div class="tpl-content-wrapper">
	<div class="row-content am-cf">
		<div class="row am-cf">
			<div class="am-u-sm-12 am-u-md-12">
				<div class="widget am-cf">
					<div class="widget-head am-fr">成功邀请一个好友注册可免费增加5天高级会员，可累加(VIP会员成邀请一个好友注册奖励两天VIP会员,可累加)</div>
					<div class="widget-body am-fr">
						<table id="table" class="table table-striped table-bordered table-hover table-nowrap" width="100%">
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>