<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('User_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-user_id" data-rule="required" data-source="user/user/index" data-field="nickname" class="form-control selectpage form-control" name="row[user_id]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Task_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-task_id" data-rule="required" data-source="task/index" class="form-control selectpage form-control" name="row[task_id]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Task_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-task_name" class="form-control form-control" name="row[task_name]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Taobao_url')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-taobao_url" data-rule="required" class="form-control form-control" name="row[taobao_url]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Taobao_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-taobao_id" data-rule="required" data-source="taobao/index" class="form-control selectpage form-control" name="row[taobao_id]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Task_key')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-task_key" class="form-control form-control" name="row[task_key]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Hourcounts')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-hourCounts" data-rule="required" class="form-control form-control" name="row[hourCounts]" type="text" value="0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Task_num')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-task_num" class="form-control form-control" name="row[task_num]" type="number" value="0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Task_day_finish')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-task_day_finish" class="form-control form-control" name="row[task_day_finish]" type="number" value="0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Total_num')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-total_num" class="form-control form-control" name="row[total_num]" type="number">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Task_day')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-task_day" class="form-control form-control" name="row[task_day]" type="number" value="1">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Task_price')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-task_price" class="form-control form-control" step="0.001" name="row[task_price]" type="number" value="0.180">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Task_money')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-task_money" class="form-control form-control" step="0.01" name="row[task_money]" type="number" value="0.00">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Task_c')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-task_c" class="form-control form-control" name="row[task_c]" type="text" value="0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Task_fs')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-task_fs" class="form-control form-control" name="row[task_fs]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Goodstime')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-goodstime" class="form-control datetimepicker form-control" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[goodstime]" type="text" value="{:date('Y-m-d H:i:s')}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Task_status')}:</label>
        <div class="col-xs-12 col-sm-8">
            
            <div class="radio">
            {foreach name="taskStatusList" item="vo"}
            <label for="row[task_status]-{$key}"><input id="row[task_status]-{$key}" name="row[task_status]" type="radio" value="{$key}" {in name="key" value="0"}checked{/in} /> {$vo}</label> 
            {/foreach}
            </div>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Task_tpe')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-task_tpe" class="form-control selectpicker" name="row[task_tpe]">
                {foreach name="taskTpeList" item="vo"}
                    <option value="{$key}" {in name="key" value="1"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Is_del')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-is_del" class="form-control form-control" name="row[is_del]" type="number" value="0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Etime')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-etime" class="form-control datetimepicker form-control" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[etime]" type="text" value="{:date('Y-m-d H:i:s')}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Create_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-create_time" class="form-control datetimepicker form-control" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[create_time]" type="text" value="{:date('Y-m-d H:i:s')}">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
